.page-container {
  max-width: 970px;
  margin: auto;
}

.banner {
  background: $blue;
  height: 70vh;
  padding: 15vh;
}
.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 600;
  color:white;
  font-size: 64px;
}

h2 {
  margin-top: 170px;
  font-weight: 600;
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}

.experience-container{
  // margin-top: 170px;
  // margin-bottom: 130px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  grid-gap: 30px;
  max-width: 1636px;
  margin: auto;
}

.school-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 50%));
  max-width: 1636px;
  margin: auto;
}

@media (max-width: 750px) {
  .school-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 100%));
  max-width: 1636px;
  margin: auto;
}
  }

.school {
  max-width: 918px;
  margin: auto;
  margin-bottom: 40px;
}

.shape {
  background: #82C9F5;
  width: 80px;
  height: 4px;
  margin: auto;
  margin-bottom: 130px;
}

.contact {
  background: $blue;
  color: white;
  text-align: center;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

