.leasy-container {
  width: 100%;
  position:relative;
}
.cross-nav {
  position: fixed;
  top: 60px;
  right: 100px;
}
.presentation {
  margin-top: 180px;
  text-align: center;
}
.skills-leasy {
  padding-top: 30px;
  color: grey;
}
.laptops {
  margin-top: 100px;
}
.definition {
  margin: 60px auto;
  width: 70%;
}
.technologies {
  font-size: 14px;
}
.leasy-button {
  margin: 60px;
}

.btn-leasy {
  margin: 0px auto;
  margin-top: 35px;
  color: $blue;
  border: 1px solid $blue;
  padding: 10px 15px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s;
  font-size: 22px;
  z-index: 4;
}
.btn-leasy:hover {
  text-decoration: none;
  opacity: 1;
  transition: 0.2s;
}
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: url('paris-banner.png');
}
.laptops-size {
  width: 700px;
}

@media (max-width: 750px) {
.presentation {
  margin-top: 80px;
  text-align: center;
}
  .cross-nav {
    top: 30px;
    right: 50px;
  }
  .laptops {
    margin-top: 50px;
  }
  .laptops-size {
    width: 350px;
  }
}
