<div class="headers">
  <!-- Home -->
  <div class="left">
    <%= link_to "Home", "/", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
  <!-- Right Navigation -->
  <div class="right">
    <%= link_to "Work", "work", class: "right-item" %>
    <%= link_to "About", "about", id: "active-tab", class: "right-item" %>
    <%= link_to "Contact", "contact", class: "right-item" %>
  </div>
</div>
<div class="about">
  <div class="about-description">
    <div class="para-description">
      <p id = "about-title">I help startups structure, design and create online experiences.</p>
      <p>After working in high-growing startups I decided to focus on product and design which has always been my core interest. I am now working as a freelance and am open to any discussion regarding a project or a collaboration.</p>
      <p>Good news: I can also code your website from scratch (Ruby on Rails, Javascript, HTML/CSS)</p>
    </div>
  </div>
</div>
