<div class="page-bg"></div>
<div class="animation-wrapper">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>
  <div class="particle particle-4"></div>
</div>
<div class="headers">
  <!-- Home -->
  <div class="left">
    <%= link_to "Home", "/", id: "active-tab", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
  <!-- Right Navigation -->
  <div class="right">
    <%= link_to "Work", "work", class: "right-item" %>
    <%= link_to "About", "about", class: "right-item" %>
    <%= link_to "Contact", "contact", class: "right-item" %>
  </div>
</div>
<div id="home">
  <div class="home">
  <div id="CSStransforms">
  <div class="square el"></div>
</div>
    <h1>
    Hi! I am Florent Liénard.
    </h1>
    <p class = "job-title">
      Product Designer & Web Developer
    </p>
  </div>
</div>
    <script src= "../../node_modules.animejs.anime.min.js"></script>
    <script>
        anime({
          targets: 'div',
          translateX: 500,
          duration: 1000
        });
    </script>
