.about {
  display: flex;
  justify-content: center;
  background: white;
  align-items: center;
  padding: 20px 10px;
  text-align: left;
  height: 100vh;
}
.about-picture {
  margin: 25px 30px;
}
.para-description {
  margin: 70px 150px;
  text-align: justify;
}

@media (max-width: 780px) {
  .para-description {
  font-size: 18px;
  margin: 70px 30px;
  }
}
