.about {
  display: flex;
  justify-content: center;
  background: white;
  align-items: center;
  padding: 20px 10px;
  text-align: left;
  height: 100vh;
}
.about-picture {
  margin: 25px 30px;
}
.para-description {
  margin: 70px 150px;
  text-align: left;
}
#about-title {
  font-size: 36px;
}
#strong {
  color: #42A5F5;
  opacity: 1;
}

@media (max-width: 780px) {
  .para-description {
  font-size: 18px;
  margin: 70px 30px;
  }
}

// Fade in
.para-description {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 500px) {
  .about {
    font-size: 18px;
    height: auto;
  }

}

// Fade in
#strong {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
