.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 40px;
  flex-wrap: wrap;
}
.card {
  width: 300px;
  margin: 10px auto;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(100,100,100,0.1);
  transition: all 0.3s ease;
  position: relative;
  border-radius: 2px;
  transition: 0.2s;
}
.card:hover {
  box-shadow: 0 0 25px rgba(100,100,100,0.15);
  transition: 0.3s;
}
.card-slice {
  width: 300px;
  margin: 10px auto;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  position: relative;
  border-radius: 2px;
  transition: 0.2s;
}
.card-slice:hover {
  transition: 0.3s;
}
.card-image {
  background-size: cover;
  color: black;
  height: 175px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-position: center;
}
.btn-behance{
  text-align: center;
  margin-bottom: 100px;
}
#btn-portfolio{
  background-color: #52C2F2;
  border-radius: 35px;
  padding: 15px 45px;
  text-decoration: none;
  text-align: center;
  color: white;
  margin: auto;
  transition: 0.3s;
}
#btn-portfolio:hover {
  background: #4596F0;
  transition: 0.3s;
  box-shadow: 0 1px 10px 0 rgba(100, 100, 100, 0.3)
}
.card-image-slice {
  background-size: cover;
  height: 175px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-position: center;
}
.work-skills {
  color: lightgray;
  margin: 5px 0px;
  font-size: 14px;
}
.card-footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: none;
}
.work-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}
.work-description {
  margin-top: 5px;
  font-size: 14px;
  font-weight: lighter;
  color: grey;
}
.btn-learn-more {
  margin: 0px auto;
  margin-top: 35px;
  color: $blue;
  border: 1px solid $blue;
  padding: 10px 15px;
  width: 55%;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s;
  font-size: 18px;
  z-index: 4;
}
.btn-learn-more:hover {
  text-decoration: none;
  opacity: 1;
  transition: 0.2s;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.contact-container {
  width: 70%;
  margin: 40px auto;
  text-align: center;
}
.contact-container a {
  text-decoration: none;
  color: $blue;
}

@media (max-width: 750px) {
  .card {
    width: 300px;
  }
  .card-footer {
    padding: 20px;
  }
}
