.headers {
  top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bolder;
  color: black;
  font-size: 20px;
  transition: 0.2s;
  height: auto;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: #64B5F6;
      transition: 0.2s;
    }
  }
}
.left {
  margin-left: 80px;
  margin-top: 60px;
}
.right {
  margin-right: 80px;
  margin-top: 60px;
}
.right-item {
  margin: 0 10px;
}
.active-item a{
  margin: 0 10px;
}
#active-tab {
  color: #64B5F6;
  opacity: 0.6;
}

@media (max-width: 600px) {
  .left {
    margin-left: 20px;
    margin-top: 20px;
  }
  .right {
    margin-right: 20px;
    margin-top: 20px;
  }
  #home {
    margin-left: 20px;
  }
}
