.skills {
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
}
.skill {
  margin: 40px;
  flex-basis: 30%;
}
.skill-title p{
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 40px;
}
.icon {
  margin-bottom: 7px;
}
.skill-description {
  font-weight: lighter;
  font-size: 16px;
}


@media (max-width: 600px) {
  .skill {
    flex-basis: 60%;
  }

}
