.skills {
  margin: 80px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
}
.skill {
  margin: 40px 0px;
  flex-basis: 33%;
  padding: 0 15px;
}
.skill-title{
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 30px;
}
.icon {
  margin-bottom: 7px;
}
.icon img {
  margin-bottom: 20px;
}
.skill-description {
  font-weight: lighter;
  font-size: 16px;
}

@media (max-width: 600px) {
  .skill {
    flex-basis: 90%;
  }

}
